# Auto detect text files and perform LF normalization
* text=auto

This is an example of my first game engine. The files included are only Game Engine related code(some inrelevant to final implementation).
This project was created during my Junior year of College, and was created over 6 months. My improvement over the course of its development is
noticable.